#!/usr/bin/make -f
# debian/rules for evolution-translate-extension
# Uses dh (debhelper) with CMake buildsystem

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DFORCE_INSTALL_PREFIX=OFF

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install
	# GSettings schemas directory will be created automatically when installing files

override_dh_installchangelogs:
	dh_installchangelogs

# Don't strip debug symbols in debug builds
override_dh_strip:
	dh_strip --dbgsym-migration='evolution-translate-extension-dbgsym (<< 0.0.1-2~)'
